
.main-container{
    width: 100vw;
    height: 100vh;
    background: url(./pap/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    /* max-width: 768px; */
}
.djs-logo{
    width: 100px;
    height: 100px;
}
.main-title{
    text-align:center;
    color: #fff;

}
.task-title{

    text-align:center;
    color: #fff867;
}