video{
    width: 100%;
}

.bottom-div{
    position: absolute;
    /* height: 100px; */
    width: 100%;
    z-index: 100;
    bottom: 3rem;
}

.bottom-div ul{
    padding: 0;
    text-align: center;
    margin: 0;
}


.bottom-div ul li{display: inline-block;margin: 0 0.2rem;}
.bottom-div ul li a{
    display:block;
    background: #0771a6;
    padding: 1rem;
    width: 138px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border: 3px solid #091081;
    -webkit-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    -moz-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    transition: 0.2s all;
}


.bottom-div ul li a:hover{
    opacity: 0.8;
}
.main-container{
    max-width:475px
}
.sea-lightbox{
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(9 16 129 / 50%);
    z-index: 200;
}

.gender-ul{
    margin: 2rem 0 2rem 0;
    padding: 0;
    display: block;
}


.gender-ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
}


.gender-ul li 
.bottle-img{
    width: 100px;
    margin: 0 0 0.5rem 0;
}

.form-wts{
width: 60%;
    margin: 0 auto;
    min-width: 275px;
    text-align: center;
}


.gender-a{
    color: #fff;
    text-decoration: none;
    display: block;
    border: 4px solid;
    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    -moz-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    font-size: 1.3rem;
    transform: 0.2s all;
}

.gender-a.active{
    color: #044b87;
    background: rgb(255 255 255 / 56%);
}

.gender-a.gender-a-2.active{
    color: #870457;
    background: rgb(255 255 255 / 56%);
}
