video{
    width: 100%;
}

.bottom-div{
    position: absolute;
    /* height: 100px; */
    width: 100%;
    z-index: 100;
    bottom: 3rem;
}

.bottom-div ul{
    padding: 0;
    text-align: center;
    margin: 0;
}


.bottom-div ul li{display: inline-block;margin: 0 0.2rem;}
.bottom-div ul li a{
    display:block;
    background: #0771a6;
    padding: 1rem;
    width: 138px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border: 3px solid #091081;
    -webkit-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    -moz-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    transition: 0.2s all;
}


.bottom-div ul li a:hover{
    opacity: 0.8;
}
.main-container{
    max-width:475px
}
.sea-lightbox{
    color: #fff;
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(9 16 129 / 75%);
    z-index: 200;
}

.sea-lightbox a{
    color: #fff;

}

.gender-ul{
    margin: 0rem 0 2rem 0;
    padding: 0;
    display: block;
}


.gender-ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
}


.gender-ul li 
.bottle-img{
    width: 100px;
    margin: 0 0 0.5rem 0;
}

.form-wts{
width: 60%;
    margin: 0 auto;
    min-width: 275px;
    text-align: center;
}


.gender-a{
    color: #fff;
    text-decoration: none;
    display: block;
    border: 3px solid;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    -moz-box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    box-shadow: 4px 6px 5px -4px rgba(0,0,0,0.78);
    font-size: 1.3rem;
    transition: 0.2s all;
}

.gender-a.active{
    color: #044b87;
    background: rgb(255 255 255 / 56%);
}

.gender-a.gender-a-2.active{
    color: #870457;
    background: rgb(255 255 255 / 56%);
}

.form-control{
    -webkit-box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);
    -moz-box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);
    box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);
}



/* CSS */
.submit-btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  margin: 2rem auto 0 auto;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 15px 14px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s all;

  -webkit-box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);
  -moz-box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);
  box-shadow: 6px 6px 8px -8px rgba(0,0,0,0.78);

}

.submit-btn:active,
.submit-btn:hover {
  outline: 0;
}

.submit-btn:hover{
    opacity: 0.9;
}
@media (min-width: 768px) {
  .submit-btn {
    font-size: 16px;
    min-width: auto;
  }
}

.close-btn-a{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close-btn-a img{
    width: 20px;
}
.msg{
    display: none;
}

.result-bottle .bottle-img{
    width: 100px;
}
.result-bottle{
    display:inline-block;
    background: #7381d2;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.result-block{
    display: none;
}