.main-container
{
    background: rgb(9 16 129 / 75%);
    height: 100vh;
}

.result-bottle .bottle-img{
    width: 100px;
}
.result-bottle{
    display:inline-block;
    /* background: #7381d2; */
    /* padding: 1rem 2rem; */
    /* border-radius: 1rem; */
    /* margin-bottom: 2rem; */
}